<h1> Pandas Data Challenge for a Gaming Company </h1>

<h6> Project  : Heroes Of Pymoli </h6>
<h6> Description : The aplication generates a report that breaks down the game's purchasing data into meaningful insights. </h6>
<h6> Student Name : Radhika Balasubramaniam </h6>

<br/>

<b> import dependencies for the project </b>

In [38]:
import os as os
import pandas as pd
from IPython.display import HTML

<b>Store filepath in a variable </b>

In [5]:
filepath = os.path.join ("Resources","purchase_data.csv")


<b> Read purchase Data file with the pandas library and build the dataframes </b>

In [72]:
purchase_data = pd.read_csv(filepath, encoding="ISO-8859-1")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

<b>Player Count </b>
 
  * Display the total number of players

In [39]:
# get the player count
totalPlayerCount = len(purchase_data["SN"].value_counts())

# build the data frame for player count
playerCountDF = pd.DataFrame( [totalPlayerCount], columns = ["Total Players"]) 

#display results
playerCountDF

   Total Players
0            576

<b> Purchasing Analysis (Total) </b>
  *  Number of Unique Items
  * Average Purchase Price
  * Total Number of Purchases
  * Total Revenue

In [50]:
# get the number of unique items 
uniqueItemCount = len(purchase_data['Item ID'].unique())

# calculate average purchase price
averagePurchasePrice = purchase_data['Price'].mean()

# calculate total number of Purchases
totalPurchaseCount = purchase_data['Purchase ID'].count()

# calculate Total Revenue
totalRevenue = purchase_data['Price'].sum()

# build the dataframe to output purchasing analysis
purchasingAnalysisDF = pd.DataFrame({"Number of Unique Items":[uniqueItemCount],
                           "Average Price":[averagePurchasePrice],
                           "Number of Purchases" : [totalPurchaseCount],
                           "Total Revenue" : totalRevenue})

#custom format the values of data frame 
purchasingAnalysisDF["Average Price"] = purchasingAnalysisDF["Average Price"].map("${:,.2f}".format)
purchasingAnalysisDF["Total Revenue"] = purchasingAnalysisDF["Total Revenue"].map("${:,.2f}".format)

#display the dataframe 
purchasingAnalysisDF

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

<b> Gender Demographics </b>
 
 * Percentage and Count of Male Players
 * Percentage and Count of Female Players
 * Percentage and Count of Other / Non-Disclosed

In [133]:

# create group by gender dataset
genderDF_Groupedby  = purchase_data.groupby("Gender")

#get the count for the unique players in each group. Create a dataframe with resultset.
genderDF = pd.DataFrame(genderDF_Groupedby.agg({"SN": "nunique"}))

# Adds a new column to dataframe and assigns Percentage values to the data frame
genderDF["Percentage of Players"] = (genderDF / totalPlayerCount * 100)

#format the column to the percentage 
genderDF["Percentage of Players"] = genderDF["Percentage of Players"].map("{:.2f}%".format)

# rename the column Name SN to Total Count, Sort the data frame based on totalcount
genderDF = genderDF.rename(columns={"SN":'Total Count'}).sort_values(["Total Count"], ascending=False)

# remove the index header name 
genderDF.index.name = None

#deisplay the gender demographic result dataframe
genderDF

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

 <b> Purchasing Analysis (Gender) </b>
 
   * The below each broken by gender
    * Purchase Count
        * Average Purchase Price
        * Total Purchase Value
        * Average Purchase Total per Person by Gender

In [156]:
# get the aggregation functions values for Purchase Count, Average, total sum using agg function and built a data frame
purchaseAnalysisDF = genderDF_Groupedby.agg(purchaseCount =pd.NamedAgg(column='Purchase ID', aggfunc='count'), 
                                                          Average =pd.NamedAgg(column='Price', aggfunc='mean'),
                                                          total=pd.NamedAgg(column='Price', aggfunc='sum'),
                                                          uniquecount = pd.NamedAgg(column='SN', aggfunc='nunique') )
# add a new datacolumn and calculate the average total per person
purchaseAnalysisDF["Avg Total Purchase per Person"] = purchaseAnalysisDF["total"]/purchaseAnalysisDF["uniquecount"]

# remove uniquecount column
purchaseAnalysisDF.drop('uniquecount', axis=1, inplace=True)

#custom format the values of data frame 
purchaseAnalysisDF["Average"] = purchaseAnalysisDF["Average"].map("${:,.2f}".format)
purchaseAnalysisDF["total"] = purchaseAnalysisDF["total"].map("${:,.2f}".format)
purchaseAnalysisDF["Avg Total Purchase per Person"] = purchaseAnalysisDF["Avg Total Purchase per Person"].map("${:,.2f}".format)

# rename the column names 
purchaseAnalysisDF = purchaseAnalysisDF.rename(columns={"purchaseCount" :'Purchase Count',
                                  "average" : "Average Purchase Price",
                                  "total" : "Total Purchase Value"})


#display the purchase analysis
purchaseAnalysisDF

,Purchase Count,Average,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

<b> Age Demographics Analysis (Age) </b>

  * Establish bins for ages
  * Categorize the existing players using the age bins. Hint: use pd.cut()
  * Calculate the numbers and percentages by age group
  * Create a summary data frame to hold the results
  * Optional: round the percentage column to two decimal points
  * Display Age Demographics Table

In [187]:

#create the bin values
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]

# Create the names for the age bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# cut the data into bins
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

# group by age summary
ageDemographicsGroupby = purchase_data.groupby("Age Ranges")

#total count and built a data frame
ageDemographicsDF =  ageDemographicsGroupby.agg(totalcount =pd.NamedAgg(column='SN', aggfunc='nunique'))

ageDemographicsDF["Percentage of Players"] = (ageDemographicsDF["totalcount"]/totalPlayerCount) * 100

#format the percentage
ageDemographicsDF["Percentage of Players"] = ageDemographicsDF["Percentage of Players"].map("{:.2f}%".format)

# rename the column names 
ageDemographicsDF = ageDemographicsDF.rename(columns={"totalcount" :"Total Count"})

# remove the index header name 
ageDemographicsDF.index.name = None

#display the result
ageDemographicsDF

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

<b> Purchasing Analysis (Age) </b>

 * The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value
    * Average Purchase Total per Person by Age Group

In [194]:
# get the aggregation functions values for Purchase Count, Average, total sum using agg function and built a data frame
ageAnalysisDF = ageDemographicsGroupby.agg(purchaseCount =pd.NamedAgg(column='Purchase ID', aggfunc='count'), 
                                                          Average =pd.NamedAgg(column='Price', aggfunc='mean'),
                                                          total=pd.NamedAgg(column='Price', aggfunc='sum') )
# add a new datacolumn and calculate the average total per person
ageAnalysisDF["Avg Total Purchase per Person"] = ageAnalysisDF["total"]/ageDemographicsDF["Total Count"]

#custom format the values of data frame 
ageAnalysisDF["Average"] = ageAnalysisDF["Average"].map("${:,.2f}".format)
ageAnalysisDF["total"] = ageAnalysisDF["total"].map("${:,.2f}".format)
ageAnalysisDF["Avg Total Purchase per Person"] = ageAnalysisDF["Avg Total Purchase per Person"].map("${:,.2f}".format)

# rename the column names 
ageAnalysisDF = ageAnalysisDF.rename(columns={"purchaseCount" :'Purchase Count',
                                  "average" : "Average Purchase Price",
                                  "total" : "Total Purchase Value"})

#display the age analysis
ageAnalysisDF

,Purchase Count,Average,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
10-14,28,$2.96,$82.78,$3.76
<10,23,$3.35,$77.13,$4.54
15-19,136,$3.04,$412.89,$3.86
40+,13,$2.94,$38.24,$3.19
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
20-24,365,$3.05,"$1,114.06",$4.32

<b> Top Spenders </b>

  * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
     * SN
     * Purchase Count
     * Average Purchase Price
     * Total Purchase Value

In [200]:

# group by SN
SNGroupby = purchase_data.groupby("SN")

# get the aggregation functions values for Purchase Count, Average, total sum using agg function and built a data frame
SNAnalysisDF = SNGroupby.agg(purchaseCount =pd.NamedAgg(column='Purchase ID', aggfunc='count'), 
                                                          Average =pd.NamedAgg(column='Price', aggfunc='mean'),
                                                          total=pd.NamedAgg(column='Price', aggfunc='sum') )

# sort the results
SNAnalysisDF = SNAnalysisDF.sort_values(["total"], ascending=False).head(5)

#custom format the values of data frame 
SNAnalysisDF["Average"] = SNAnalysisDF["Average"].map("${:,.2f}".format)
SNAnalysisDF["total"] = SNAnalysisDF["total"].map("${:,.2f}".format) 

# rename the column names 
SNAnalysisDF = SNAnalysisDF.rename(columns={"purchaseCount" :'Purchase Count',
                                  "average" : "Average Purchase Price",
                                  "total" : "Total Purchase Value"})



#display the result
SNAnalysisDF

             Purchase Count Average Total Purchase Value
SN
Lisosia93                 5   $3.79               $18.96
Idastidru52               4   $3.86               $15.45
Chamjask73                3   $4.61               $13.83
Iral74                    4   $3.40               $13.62
Iskadarya95               3   $4.37               $13.10

<b> Most Popular Items </b>

  * Identify the 5 most popular items by purchase count, then list (in a table):
    * Item ID
    * Item Name
    * Purchase Count
    * Item Price
    * Total Purchase Value

In [215]:
#retrieve the item columns
itemDF = purchase_data[["Item ID", "Item Name", "Price"]]

# group by item id, item name 
itemGroupby = itemDF.groupby(["Item ID", "Item Name"])

# get the aggregation functions values for Purchase Count, Average, total sum using agg function and built a data frame
itemAnalysisDF  = itemGroupby.agg(purchaseCount =pd.NamedAgg(column='Item ID', aggfunc='count'),
                        ItemPrice =pd.NamedAgg(column='Price', aggfunc='mean'),
                        total=pd.NamedAgg(column='Price', aggfunc='sum'))

#create another dataframe to store the results
popularItemAnalysisDF = itemAnalysisDF

# sort the results
popularItemAnalysisDF = popularItemAnalysisDF.sort_values(["purchaseCount"], ascending=False).head(5)

#custom format the values of data frame 
popularItemAnalysisDF["ItemPrice"] = popularItemAnalysisDF["ItemPrice"].map("${:,.2f}".format)
popularItemAnalysisDF["total"] = popularItemAnalysisDF["total"].map("${:,.2f}".format) 

# rename the column names 
popularItemAnalysisDF = popularItemAnalysisDF.rename(columns={"purchaseCount" :'Purchase Count',
                                  "ItemPrice" : "Item Price",
                                  "total" : "Total Purchase Value"})



#display the result
popularItemAnalysisDF

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

<b> Most Profitable Items </b>

 * Identify the 5 most profitable items by total purchase value, then list (in a table):
    * Item ID
    * Item Name
    * Purchase Count
    * Item Price
    * Total Purchase Value

In [219]:
# sort the results
profitableAnalysisDF = itemAnalysisDF.sort_values(["total"], ascending=False).head(5)

#custom format the values of data frame 
profitableAnalysisDF["ItemPrice"] = profitableAnalysisDF["ItemPrice"].map("${:,.2f}".format)
profitableAnalysisDF["total"] = profitableAnalysisDF["total"].map("${:,.2f}".format) 

# rename the column names 
profitableAnalysisDF = profitableAnalysisDF.rename(columns={"purchaseCount" :'Purchase Count',
                                  "ItemPrice" : "Item Price",
                                 "total" : "Total Purchase Value"})
#display the result
profitableAnalysisDF

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80