instructions

<b> import dependencies for the project </b>

In [38]:
import os as os
import pandas as pd
from IPython.display import HTML

<b>Store filepath in a variable </b>

In [5]:
filepath = os.path.join ("Resources","purchase_data.csv")


<b> Read purchase Data file with the pandas library and build the dataframes </b>

In [7]:
purchase_data = pd.read_csv(filepath, encoding="ISO-8859-1")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

<b>Player Count </b>
 
  * Display the total number of players

In [39]:
# get the player count
totalPlayerCount = len(purchase_data["SN"].value_counts())

# build the data frame for player count
playerCountDF = pd.DataFrame( [totalPlayerCount], columns = ["Total Players"]) 

#display results
playerCountDF

   Total Players
0            576

<b> Purchasing Analysis (Total) </b>
  *  Number of Unique Items
  * Average Purchase Price
  * Total Number of Purchases
  * Total Revenue

In [50]:
# get the number of unique items 
uniqueItemCount = len(purchase_data['Item ID'].unique())

# calculate average purchase price
averagePurchasePrice = purchase_data['Price'].mean()

# calculate total number of Purchases
totalPurchaseCount = purchase_data['Purchase ID'].count()

# calculate Total Revenue
totalRevenue = purchase_data['Price'].sum()

# build the dataframe to output purchasing analysis
purchasingAnalysisDF = pd.DataFrame({"Number of Unique Items":[uniqueItemCount],
                           "Average Price":[averagePurchasePrice],
                           "Number of Purchases" : [totalPurchaseCount],
                           "Total Revenue" : totalRevenue})

#custom format the values of data frame 
purchasingAnalysisDF["Average Price"] = purchasingAnalysisDF["Average Price"].map("${:,.2f}".format)
purchasingAnalysisDF["Total Revenue"] = purchasingAnalysisDF["Total Revenue"].map("${:,.2f}".format)

#display the dataframe 
purchasingAnalysisDF

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

<b> Gender Demographics </b>
 
 * Percentage and Count of Male Players
 * Percentage and Count of Female Players
 * Percentage and Count of Other / Non-Disclosed

 <b> Purchasing Analysis (Gender) </b>
 
   * The below each broken by gender
    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value
    * Average Purchase Total per Person by Gender

<b> Age Demographics </b>

 * The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value
    * Average Purchase Total per Person by Age Group

<b> Top Spenders </b>

  * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
     * SN
     * Purchase Count
     * Average Purchase Price
     * Total Purchase Value

<b> Most Popular Items </b>

  * Identify the 5 most popular items by purchase count, then list (in a table):
    * Item ID
    * Item Name
    * Purchase Count
    * Item Price
    * Total Purchase Value

<b> Most Profitable Items </b>

 * Identify the 5 most profitable items by total purchase value, then list (in a table):
    * Item ID
    * Item Name
    * Purchase Count
    * Item Price
    * Total Purchase Value